modules = ["python-3.11", "python3", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "ffmpeg", "ffmpeg-full", "freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "openssl", "pkg-config", "rapidfuzz-cpp", "rustc", "swig", "taskflow", "tcl", "tesseract", "tk", "xcbuild", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Cloud Run Server"

[[workflows.workflow]]
name = "Cloud Run Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main_entrypoint.py"
waitForPort = 5000

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
